

<h1>Welcome <%= @admin.name %></h1>
<h4>Hospital: <%= @admin.hospital.name %></h4>
	
	<ul>
		<% @departments.each do |dep| %>
		<li>Department: <%= dep.name %>
				<ul>
					<% dep.groups.each do |group| %>
					<li>
						<%= group.name %>
					</li>
						<% end %>
				</ul>
		</li>
   <% end %>


	</ul>